.inputContainer {
    position: relative;
    background-color: white;
    border: 2px solid #FF4C29;
    margin: 16px 0 4px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.inputLabel {
    color: #FF4C29;
    font-size: 18px;
    background-color: white;
    position: absolute;
    top: -15px;
    left: 10px;
    margin: 0;
    padding: 0 4px;
}

.dummyDiv {
    height: 50px;
}