.selectInputContainer {
    position: relative;
}

.selectInputMainBox {
    font-size: 18px;
    padding: 21px 14px 13px;
    background-color: white;
}

.disabledFontColor {
    color: darkgrey;
}

.borderRound {
    border-radius: 30px;
    background-color: transparent;
}

.shadow {
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
}

.selectInputOptions {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 56px;
    z-index: 2;
    width: 100%;
}

.hide {
    display: none;
}