.buttonSpan {
    background-color: #FF4C29;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 2px 20px rgba(0, 0, 0, 0.1));
}

.buttonText {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin: 0;
}