.headerBase {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 16px;
    position: sticky;
    top: 0;
    z-index: 10;
}

.headerBaseLeft {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    padding: 0;
}

.headerBaseRight {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.headerBaseLeftIconTextBetween {
    width: 12px;
}